<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Get a Hits Restaurant for you">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#C36A2D"/>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <title>Restaurant Apps</title>
</head>
<body>
  <a tabindex="0" href="#maincontent" class="skip-link" >Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1 tabindex="0">Kuys Restaurant</h1>
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li><a tabindex="0" href="/#/">Home</a></li>
      <li><a tabindex="0" href="/#/favorite">Favorite</a></li>
      <li><a tabindex="0" href="https://github.com/inndyis">About Us</a></li>
    </ul>
  </nav>
 </header>

  <div class="hero">
    <picture>
      <source media="(max-width: 600px)" srcset="./images/hero-image_2-small.jpg">
      <img tabindex="0" class="hero-image" src="./images/hero-image_2-large.jpg" alt="hero">
    </picture>
  </div>
  <main>
    <section class="content" id="maincontent">
    </section>
    <footer>
      <h3 tabindex="0" >Copyright © 2023 - Kuys Restaurant</h3>
    </footer>
  </main>
</body>
</html>
